@require 'variables'
@require 'mixins'

.advanced-container
    width: 100%
    height: calc(100% - 64px)
    overflow: auto

.editor
    height: 100%
    background: #E6E6E6

.code
    height: 100%
    background: #252525
    position: relative

    & .header
        width: 100%
        height: 64px
        line-height: 64px
        display: flex
        flex-direction: row
        align-self: center

        & > svg
            display: inline-block
            position: relative
            top: 18px

        & > .right
            width: 100%
            display: flex
            align-items: flex-end
            flex-direction: column

.code-test-btn
    display: flex
    flex-direction: row
    align-items: center

    & > svg
        position: relative
        top: 18px

.code-block
    background: transparent
    display: flex
    position: relative
    padding: 16px
    margin: 0

    & > code
        display: block
        width: 100%
        white-space: pre-wrap

.editor
    position: relative
    overflow: auto

    & .header
        width: 100%
        height: 48px
        margin: 0
        position: relative

    & .content
        width: 100%

.dialogue-option
    margin: 0
    padding: 0
    height: 100%

    & > input
        position: absolute
        opacity: 0
        cursor: default

        &:checked + label
            background-color: $green
            color: #FFF

            & > svg > path
                fill: #FFF !important

    & > label
        display: block
        height: 100%
        line-height: 48px
        text-align: center
        border: solid rgba(0, 0, 0, 0.25) 1px
        box-sizing: border-box
        cursor: pointer
        transition: background-color 0.2s ease-out, color 0.2s ease-out

        & > svg
            position: relative
            top: 6px

            & > path
                transition: 0.2s ease-out

fieldset > label
    display: block

    & > svg
        position: relative
        top: 5px

.form-wrapper,
.btn-wrapper__inner
    position: relative

.btn-wrapper
    position: absolute
    top: -20px
    right: -20px
    display: flex
    width: 100%
    height: 100%
    flex-direction: column
    align-items: right
    pointer-events: none

.btn-circle
    padding: 8px
    border-radius: 50px
    top: 0
    pointer-events: auto

    &.large
        padding: 16px

select
    padding-left: 30px !important

    vendor(appearance, none, moz webkit)

.fake-arrow
    position: absolute
    left: 8px
    top: 16px
    background: #FFF

.card-actions
    position: absolute
    bottom: 24px
    left: 24px
    right: 24px
    display: flex
    align-items: center
    flex-direction: column

.card-buttons button + button
    margin-left: 16px

.card-paginator
    height: 25px
    max-width: 100%
    margin-top: 8px
    position: relative
    display: flex

.paginate-btn
    border: none
    background: initial
    padding: 0
    display: inline-block

.dots
    max-width: 100%
    display: inline-block

.dot
    height: 6px
    width: 6px
    display: inline-block
    background: rgba(0, 0, 0, 0.25)
    border-radius: 50%
    cursor: pointer
    margin: 0 2px

    &.selected
        background: rgba(0, 0, 0, 0.5)