@require 'variables'

.basic-container
    width: 100%
    height: calc(100% - 128px)
    overflow-y: auto
    overflow-x: hidden
    overflow-wrap: break-word
    display: flex
    flex-direction: row
    align-items: center
    position: relative

.basic-container__inner
    width: 100%

    &:not(:only-child)
        display: none

    &:last-child
        display: block

.navigation
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

.navigation__inner
    display: flex
    flex-direction: row
    align-items: center

    & button
        width: 128px
        height: 64px

        & + button
            margin-left: 128px

.btn-basic-submit
    display: block
    padding: 16px 48px

.input-group-button
    &:not(:last-child) > .btn
        border-radius: 0

    & > .btn
        height: 50px


@media screen and (max-width: 768px)
    .navigation__inner
        width: 100%

        & button
            width: 50%

            & + button
                margin: 0