@require 'variables'

for weight in 400 500 600 700
    .w-{weight}
        font-weight: weight

for type in 00 0 1 2 3 4
    .f{type}-light
        font-family: 'Noto Sans Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

@keyframes shake
    0%
        transform: translateX(0)

    10%
        transform: translateX(1rem)

    20%
        transform: translateX(-1rem)

    30%
        transform: translateX(1rem)

    40%
        transform: translateX(-1rem)

    50%
        transform: translateX(1rem)

    60%
        transform: translateX(-1rem)

    70%
        transform: translateX(1rem)

    80%
        transform: translateX(-1rem)

    90%
        transform: translateX(1rem)

    100%
        transform: translateX(0)

.shake
    animation: shake 1s cubic-bezier(0.5, 0, 0.25, 1)

.white
    color: #FFF

.green
    color: $green

.large-pad-x
    padding-left: 192px
    padding-right: 192px

.shadow
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

.one-half-lg-full-sm
    width: 50%

.one-third-lg-full-sm
    width: calc(100% / 3)

.two-thirds-lg-full-sm
    width: calc((100% / 3) * 2)

.full
    width: 100%

.bg-orange
    background-color: $orange !important

.inline-link
    color: inherit
    text-decoration: underline

.relative
    position: relative

.absolute
    position: absolute

.bubble
    position: absolute
    top: 65px
    z-index: 1

    &::after
        bottom: 100%
        left: 50%
        border: solid transparent
        content: ''
        height: 0
        width: 0
        position: absolute
        pointer-events: none

    &::after
        border-bottom-color: #FFDCE0
        border-width: 10px
        margin-left: -100px

.form-error
    background-color: #FFDCE0
    border-color: rgba(27, 31, 35, 0.5) !important

@media screen and (max-width: 768px)
    .one-half-lg-full-sm,
    .one-third-lg-full-sm,
    .two-thirds-lg-full-sm
        width: 100%
        padding: 0 !important

    .large-pad-x
        padding-left: 24px
        padding-right: 24px

@media screen and (max-width: 1280px)
    .large-pad-x
        padding-left: 64px
        padding-right: 64px